body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    color: #333333;
    background-image: url('../images/dia.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s ease-in-out;
}

body.modo-escuro {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    color: #f5f5f5;
    background-image: url('../images/backgroundNight.jpg');
    transition: 0.4s ease-in-out;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .imagem-botao {
    width: 30px;
    transition: 0.2s ease-in-out;
    margin-top: auto;
    margin-bottom: auto;
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover {
    transform: scale(1.1);
    cursor: pointer;
}

header .pokemon_logo{
    width: 150px;
}

main {
    padding: 25px;
}

main #region-filter{
    width: 100%;
    padding: 5px;
    display: flex;
}

main .pokemon-region-filter{
    width: 100px;
    display: flex;
    margin-left: 15px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 15px;
    box-shadow: #333 0px 2px;
}

main .pokemon-region-filter-dark{
    width: 100px;
    display: flex;
    margin-left: 15px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid white;
    font-size: 15px;
    color: rgb(199, 199, 196);
    box-shadow: white 0px 2px;
}


main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 15px;
}

main .cartao-pokemon {
    background-color: transparent;
    width: 220px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    border: 2px solid black;
    box-shadow: 4px 4px 5px 2px #333333;
}

main .cartao-pokemon:hover {
    transform: scale(1.1);
}


.modo-escuro .cartao-pokemon {
    background-color: transparent;
    border: 2px solid white;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: #68787a;
    box-shadow: #333 0px 2px;
}

main .cartao-pokemon .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gifDiv{
    height: 90px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

main .cartao-pokemon .gif {
    width: 90px;
    height: 90px;
}


main .cartao-pokemon .tipos {
    display: flex;
    gap: 10px;
}

main .cartao-pokemon .tipo {
    padding: 8px;
    border-radius: 15px;
    width: 80px;
    text-align: center;
    font-size: 13px;
}

main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}

.wrapper
{
    position: absolute;
    bottom: 76%;
    left: 50%;

   transform: translate(-50%, -50%);

}

.pokeball {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50% ;
  position: relative;
  overflow: hidden;
  border: 3px solid;
  animation: frames .8s  linear 0s infinite;
}

.pokeball:after{
  content: '';
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: red;
  border-bottom: 4px solid;
  top: -4px
}

.pokeball:before{
  content: '';
  position: absolute;
  background-color: #fff;
  width: 10px;
  height:10px;
  border: 4px solid;
  border-radius: 50%;
  bottom: 18px;
  right: 18px;
  z-index: 1;
}

@keyframes frames{
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }



